<form name="join">
    <label>Room: <input type="text" name="room"></label>
    <label>Name: <input type="text" name="name"></label>
    <button type="submit">Join</button>
</form>
<a href="/single">Single Player</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/join.js"></script>